<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
  <meta name="msapplication-tap-highlight" content="no">
  <script type="text/javascript">
    var __meteor_runtime_config__ = {{ meteorRuntimeConfig }}
  </script>
</head>
<body>
  <div id="boilerPlateLoader">
    <p>Loading...</p>
    <script type="text/javascript">
      (function (includes) {
        var urlPrefix = jsCssPrefix = __meteor_runtime_config__.ROOT_URL_PATH_PREFIX || '';
        includeRenderer(document.head, includes)

        function includeRenderer(appendTo, includes) {
          var allScripts = ''
          var nthScriptLoaded = -1

          function cleanUpAndAppend () {
            document.body.removeChild(document.getElementById('boilerPlateLoader'))
            appendTo.appendChild(createScriptTag(allScripts))
          }

          function loadScript (script) {
            allScripts += '\n' + script
          }

          function loadedChecker (waitFor) {
            return function () {
              if(waitFor != nthScriptLoaded) return false
              nthScriptLoaded++
              return true
            }
          }

          includes.forEach(function (include, index) {
            fetchScript(
              urlPrefix + include.url,
              depChecker(loadedChecker(index - 1), loadScript)
            )
          })
          depChecker(loadedChecker(includes.length - 1), cleanUpAndAppend)()
        }

        function createScriptTag (script) {
          var scriptElem = document.createElement('script')
          scriptElem.type = 'text/javascript'
          scriptElem.innerHTML = script
          return scriptElem
        }

        function fetchScript (resource, callback) {
          var req = new XMLHttpRequest()
          req.open('GET', resource)
          req.addEventListener('load', ajaxResponseHandler(callback))
          req.send()
        }

        function ajaxResponseHandler (callback) {
          return function () {
            var self = this
            if(self.responseText) callback(self.responseText)
          }
        }

        function depChecker (isTrue, callback) {
          var args = arguments
          return function (data) {
            if(isTrue()) return callback(data)
            setTimeout(depChecker.apply(null, args).bind(null, data), 10)
          }
        }

      })({{ includes }})
    </script>
  </div>
</body>
</html>